<!DOCTYPE html>
<html>
<head>

    <% include ./templates/header.ejs %>
</head>
<body>

<div class="container">
    <% include ./templates/navbar.ejs %>

    <% include templates/page_footer.ejs %>
</div>

<% include templates/footer.ejs %>
</body>
</html>
