<!DOCTYPE html>
<html>
<head>

    <% include ./templates/header.ejs %>
</head>
<body>

<div class="container">
    <% include ./templates/navbar.ejs %>

    <div class="search-result">
        <section class="search-recipe-grid"></section>
    </div>

    <% include templates/page_footer.ejs %>
</div>

<% include templates/footer.ejs %>
</body>
</html>
