<title>GoodCook</title>

<link rel="stylesheet" href="../../public/stylesheets/lib/bootstrap.min.css">
<!--<link rel="stylesheet" href="../../public/stylesheets/lib/font-awesome.min.css">-->
<link rel="stylesheet" href="../../public/stylesheets/style.css" />
<link rel="stylesheet" href="../../public/stylesheets/recipe_grid.css" />
<link rel="stylesheet" href="../../public/stylesheets/page-footer.css" />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
