<!-- Footer -->
<footer class="page-footer font-small red pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
<!--                <h5 class="text-uppercase">GookCook</h5>-->
                <img src="../../public/images/good-cook-logo.png" style="margin-bottom:10px; width: 40%; height: 4rem; object-fit: cover">
                <p style="color: #7b7b7b">Tất cả những gì bạn cần cho bữa ăn hàng ngày</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
<!--                <h5 class="text-uppercase">Về chúng tôi</h5>-->

                <ul class="list-unstyled">
                    <li><a href="/about" style="color: #555555; text-decoration: none">Về chúng tôi</a></li>
                    <li>Facebook: </li>
                    <li><a href="https://www.facebook.com/F12.Verify" style="color: #555555; text-decoration: none">https://www.facebook.com/F12.Verify</a></li>
                    <li><a href="https://www.facebook.com/phan.huy.7771" style="color: #555555; text-decoration: none">https://www.facebook.com/phan.huy.7771</a></li>
                    <li>Email: </li>
                    <li>huyphan5218@gmail.com</li>
                    <li>vantuong@vnu.edu.vn</li>
                    <li>Liên hệ quảng cáo: 0928619999</li>
                </ul>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Một sản phẩm của: Minh Trí và Phan Huy và Văn Tưởng
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->