body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  width: 100vw;
  background-color: #eaeaea;
}

.container {
  margin-top: 100px;
  width: 100%;
  padding: 0px 0px;
  background-color: white;
}
.search-field {
  width: 350px !important;
}
/*====================================================*/
/*=======================HOME=============================*/
/*====================================================*/
.carousel-item {
  height: 70vh;
}
.img-slider {
  width: 100%;
  object-fit: cover;
}
/*======================= Horizontal scroll =========================*/
.inside-scroll > .list-inline {
  overflow-x: auto;
  white-space: nowrap;
}
.inside-scroll > .list-inline > .list-inline-item {
  /*column-count: ;*/
  margin: 15px 20px;
  width: 100px;
}
.inside-scroll > .list-inline > .list-inline-item > a .category-image {
  vertical-align: middle;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.inside-scroll > .list-inline > .list-inline-item > a .category-name {
  width: 90%;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #555555;
  text-decoration: none;
}

/*====================================================*/
/*=======================NAVBAR=============================*/
/*====================================================*/
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.page-footer {
  background-color: #f2f2f2;
}
/*====================================================*/
/*=======================PROFILE=============================*/
/*====================================================*/
.profile-wall {
  border: .5px solid #ddd;
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
.cover-photo {
  width: 100%;
  height: 18vh;
  object-fit: cover !important;
  /*background: black;*/
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.25)));*/
  /*background-image: linear-gradient(red, yellow);*/
  /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));*/
  /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,169));*/
  /*box-shadow: inset 0 -60px 60px -7px;*/
}
/*.wall-photo {*/
/*  box-shadow: inset 0 -60px 60px -7px;*/
/*}*/
.profile-summary .profile-avatar {
  vertical-align: middle;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-summary {
  position: absolute;
  left: 230px;
  top: 240px;
  float: left;
}
.profile-summary .summary-infor {
  /*font-size: 20px;*/
  /*position: absolute;*/
  float: right;
  /*left: 280px;*/
  /*top: 260px;*/
  padding: 18px;
}
.profile-summary .summary-infor .profile-username {
  font: 26px 'Source Code Pro', Arial;
  font-weight: bold;
  margin-left: 15px;
  color: #f9f9f9;
}
.profile-summary .summary-infor .info-icon {
  margin-top: 5px;
  /*margin-left: 15px;*/
  text-align: left;
  /*vertical-align: center;*/
  color: #f9f9f9;
}
.profile-summary .summary-infor .follow-btn .follow-icon {
  width: 20px;
  height: 20px;
}
.profile-summary .summary-infor .follow-btn {
  width: 125px;
  height: 50px;
  margin-left: 55vw;
  margin-top: -10vh;
  background-color: white;
  color: #555555;
  opacity: .8;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.profile-summary .summary-infor a{
  font-family: helvetica;
  text-decoration: none;
}
.profile-summary .summary-infor .user-friend-icon, .spoon-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 11px;
  margin-left: 15px;
  opacity: .8;
}
.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #cb2234;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  /*font-size: 15px;*/
  font: 16px "Source Code Pro", Arial;
  color: #555555 ;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #dbdbdb;
}

.lined .nav-link.active {
  background: #cb2234;
  color: white;
  border-color: #cb2234;
}
@media (min-width: 576px) {
  .mr-sm-3, .mx-sm-3 {
    margin-right: 0rem !important;
  }
}
.profile-tabs .nav-tabs .nav-link {
  padding: 1.2rem 1rem;
  width: 10rem;
}
.profile-tabs .nav-tabs {
  background-color: #f2f2f2;
  border: #f2f2f2;
}

/*====================== Profile-Aboutme ============*/
.public-info .info-item {
  padding: 20px;
}
.public-info .info-item .info-heading {
  font: 18px "Source Code Pro", Arial;
  color: #4d4d4d;
  margin-bottom: 10px;
}
.public-info .info-item .info-content {
  font-size: 16px;
  color: #7f7f7f;
}
.info-item .edit-profile-btn a {
  color: white;
  text-decoration: none;
}
  /*==================== Tab-Container =====================*/
.tab-content .tab-panel-contain {
  /*width: 60%;*/
  padding: 30px;
  /*min-height: 80vh;*/
}
.tab-content .about-me {
  width: 50%;
}
/*====================================================*/
/*=======================RECIPE=============================*/
/*====================================================*/
.recipe-container {
  background-color: white;
  padding: 30px;
  padding-right: 0px;
}
.recipe-container .recipe-main-info {
  float: left;
  width: 50vw;
  padding-left: 30px;
}
.recipe-header-info {
  border: .5px solid #ddd;
  padding: 30px;
  background: #fff;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
}
.recipe-header-photo {
  width: 40vw;
  height: 62vh;
  object-fit: cover;
  border-radius: 12px;
}
.recipe-headline {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 30px;
}
.recipe-rating-star {
  width: 8rem;
  height: 1.5rem;
  object-fit: cover;
}
.recipe-navbar {
  overflow: hidden;
  clear: both;
  margin: 15px 0;
}
/*===================================================*/
.recipe-info {
  overflow: hidden;
  clear: both;
  padding: 30px;
  border: .5px solid #ddd;
  border-radius: 12px;
  margin: 15px 0;
}
.recipe-info-author {
  width: 20%;
  float: left;
  padding: 0px 20px;
}
.author-avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.recipe-info-description {
  width: 80%;
  float: right;
}
/*===================================================*/
.recipe-ingredient {
  overflow: hidden;
  clear: both;
  padding: 30px;
  border: .5px solid #ddd;
  border-radius: 12px;
  margin: 15px 0;
}
.recipe-direction {
  overflow: hidden;
  clear: both;
  padding: 30px;
  border: .5px solid #ddd;
  border-radius: 12px;
  margin: 15px 0;
}
.recipe-side-bar {
  float: right;
  width: 20vw;
  padding-left: 10px;
}
.recipe-concerned {
  overflow: hidden;
  clear: both;
  padding: 30px;
  border: .5px solid #ddd;
  border-radius: 12px;
}
.recipe-ad {
  overflow: hidden;
  clear: both;
  padding: 30px;
  border: .5px solid #ddd;
  margin: 15px 0;
}
/*=========================review=============================*/
/*============================================================*/
/*============================================================*/

/*======================== Review box popup ===================*/
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #cb2234;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #cb2234;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #b92132;
}
/*========================Comment content ====================*/
#comments {
  padding: 15px !important;
}
.comment-card {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
}
.comment-card .left {
  float: left;
  padding: 10px;
  width: 15%;
}
.comment-card .left .author-comment-avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.comment-card .right {
  float: right;
  width: 85%;
  padding-top: 10px;
}
.comment-card .right .author-comment-name {
  padding: 5px;
  width: 100%;
}
.comment-card .right .comment-content {
  padding: 5px;
  padding-top: 10px;
  width: 100%;
}
.comment-card .right .star-rating {
  margin: 5px;
  vertical-align: middle;
  width: 18%;
  height: 20px;
  object-fit: cover;
}

/*=================================================*/
/*========================EDIT PROFILE=========================*/
/*=================================================*/
.form-row {
  width: 100%;
  padding: 6px 0px;
  align-content: center;
}
.form-row .form-left {
  width: 30%;
  padding: 9px 15px;
}
.form-row .form-left > .control-label{
  float: right;
  font-size: 16px;
  font-weight: bold;
}
.form-row .form-right > .label{
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-top: 9px;
}
.form-row .form-right > .btn-save-change {
  background-color: white;
  color: #3897f0;
  border-color: #3897f0;
}
.form-row .form-right > .btn-discard-change {
  margin-left: 8px;
  background-color: white;
  color: #969696;
  border-color: #969696;
}
.form-row .form-right {
  width: 50%;
}
.form-row .avatar {
  height: 40%;
}
.form-row .form-right .responsive-avatar {
  width: 50%;
  height: 40%;
  object-fit: cover;
}
.form-row .form-right form {
  width: 50%;
}
.form-row .form-right > textarea{
  width: 100%;
  height: 5rem;
  padding: 6px 12px;
}
.block-title {
  color: #999;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

/*============================================*/
/*==================== ADD RECIPE ========================*/
/*============================================*/
.add-recipe-container {
  width: 100%;
  height: 70rem;
  padding: 35px;
}
/* Rounded tabs */
.add-recipe-container .create-recipe--left {
  float: left;
  width: 40%;
  padding: 20px;
  padding-left: 30px;
  /*margin: 0px 15px;*/
  /*border: 1px solid #0c5460;*/
}
.create-recipe-heading {
  color: #7b7b7b;
  padding-bottom: 5px;
  font-size: 14px;
}
.add-recipe-container .create-recipe--right {
  float: right;
  width: 60%;
  /*border: 1px solid #0c5460;*/
  padding: 30px 20px;
  /*margin: 0px 15px;*/
}
.create-recipe--left .add-photo {
  width: 100%;
  padding: 0px 15px 15px 15px;
}
.create-recipe--left .add-photo .responsive-image {
  width: 80%;
  height: 190px;
  object-fit: cover;
  border: 1px solid #d2d6da;

}
.create-recipe--left .add-photo .select-photo, .display-image-btn {
  width: 80%;
  padding: 10px;
}
.create-recipe--left .add-photo .display-image-btn {
  height: 50px;
  text-align: center;
}
.create-recipe--left .create-recipe-item {
  margin-right: 5%;
  width: 45%;
}
.create-recipe--left .create-recipe-item input {
  height: 35px;
  width: 70%;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}
.create-recipe--left .row textarea{
  /*height: 35px;*/
  width: 81.5%;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}
.create-recipe-info .row {
  margin-bottom: 20px;
}
.create-recipe--right .create-recipe-item {
  margin-bottom: 20px;
  width: 100%;
}
.create-recipe--right .create-recipe-item .create-recipe-controller .recipe-save-btn{
  float: left;
  width: 60%;
}
.create-recipe--right .create-recipe-item .create-recipe-controller .recipe-cancel-btn{
  float: right;
  width: 35%;
}
.create-recipe--right .create-recipe-item #recipe-title {
  height: 35px;
  width: 70%;
}
.create-recipe--right .create-recipe-item #recipe-title,
.create-recipe--right .create-recipe-item textarea {
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}
/*====================CHECKBOX====================*/
.recipe-category-checkbox {
  max-width: 640px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 20px 0px;
}
ul.ks-cboxtags .create-recipe-heading {
  color: #7b7b7b;
  padding-left: 5px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  /*content: "+";*/
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  /*content: "\f00c";*/
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #f03539;
  background-color: #d42f33;
  color: #fff;
  transition: all .2s;
}

/*ul.ks-cboxtags li input[type="checkbox"] {*/
/*  display: absolute;*/
/*}*/
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}
/*========================== RADIO =========================*/
/* The container */
.create-recipe-range .my-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #7b7b7b;
}
.create-recipe-range .my-radio div{
  font-size: 14px;
  color: #9c9c9c;
}
  /* Hide the browser's default radio button */
.create-recipe-range .my-radio  input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.create-recipe-range .my-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.create-recipe-range .my-radio :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.create-recipe-range .my-radio  input:checked ~ .checkmark {
  background-color: #cb2234;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.create-recipe-range .my-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.create-recipe-range .my-radio  input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.create-recipe-range .my-radio  .checkmark:after {
  /*top: -5px;*/
  left: 5px;
  /*width: 8px;*/
  /*height: 8px;*/
  /*border-radius: 50%;*/
  /*background: white;*/
  content: "✔";
  color: white;
  font-size: 18px;
}